# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/workspace.xml
__pycache__/
venv
venv/include
venv/bin
venv/bin/chardetect
venv/bin/macho_dump
venv/bin/macho_find
venv/bin/macho_standalone
venv/bin/naked
venv/bin/pyi-archive_viewer
venv/bin/pyi-bindepend
venv/bin/pyi-grab_version
venv/bin/pyi-makespec
venv/bin/pyi-set_version
venv/bin/pyinstaller
venv/include/
venv/lib/python3.9
venv/lib/python3.9/site-packages/
venv/lib/python3.9/site-packages/Naked/__pycache__/
venv/lib/python3.9/site-packages/Naked/commands/__pycache__/
venv/lib/python3.9/site-packages/Naked/templates/__pycache__/
venv/lib/python3.9/site-packages/Naked/toolshed/__pycache__/
venv/lib/python3.9/site-packages/Naked/toolshed/c/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/archive/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/building/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/depend/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/fake-modules/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/hooks/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/hooks/pre_find_module_path/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/hooks/pre_safe_import_module/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/hooks/rthooks/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/lib/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/lib/modulegraph/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/loader/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/utils/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/utils/cliutils/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/utils/hooks/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/utils/hooks/subproc/__pycache__/
venv/lib/python3.9/site-packages/PyInstaller/utils/win32/__pycache__/
venv/lib/python3.9/site-packages/__pycache__/
venv/lib/python3.9/site-packages/_distutils_hack/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/__pycache__/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/hooks/__pycache__/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/hooks/pre_find_module_path/__pycache__/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/hooks/pre_safe_import_module/__pycache__/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/hooks/rthooks/__pycache__/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/hooks/stdhooks/__pycache__/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/tests/__pycache__/
venv/lib/python3.9/site-packages/_pyinstaller_hooks_contrib/tests/scripts/__pycache__/
venv/lib/python3.9/site-packages/altgraph/__pycache__/
venv/lib/python3.9/site-packages/caugetch/__pycache__/
venv/lib/python3.9/site-packages/certifi/__pycache__/
venv/lib/python3.9/site-packages/cffi/__pycache__/
venv/lib/python3.9/site-packages/chardet/__pycache__/
venv/lib/python3.9/site-packages/chardet/cli/__pycache__/
venv/lib/python3.9/site-packages/colorama/__pycache__/
venv/lib/python3.9/site-packages/distutils-precedence.pth
venv/lib/python3.9/site-packages/idna/__pycache__/
venv/lib/python3.9/site-packages/macholib/__pycache__/
venv/lib/python3.9/site-packages/pip-20.2.4.dist-info/
venv/lib/python3.9/site-packages/pip/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/commands/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/distributions/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/index/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/network/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/operations/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/operations/build/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/operations/install/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/req/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/resolution/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/resolution/resolvelib/found_candidates.py
venv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/
venv/lib/python3.9/site-packages/pip/_internal/vcs/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/certifi/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/colorama/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/distlib/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/html5lib/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/idna/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/msgpack/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/pep517/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/progress/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/resolvelib/compat/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/toml/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/lib/python3.9/site-pa
ckages/pip/_vendor/webencodings/__pycache__/
venv/lib/python3.9/site-packages/pkg_resources/__pycache__/
venv/lib/python3.9/site-packages/pkg_resources/_vendor/__pycache__/
venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/_typing.py
venv/lib/python3.9/site-packages/pkg_resources/extern/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/codec/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/codec/ber/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/codec/cer/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/codec/der/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/codec/native/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/compat/__pycache__/
venv/lib/python3.9/site-packages/pyasn1/type/__pycache__/
venv/lib/python3.9/site-packages/pycparser/__pycache__/
venv/lib/python3.9/site-packages/pycparser/ply/__pycache__/
venv/lib/python3.9/site-packages/requests/__pycache__/
venv/lib/python3.9/site-packages/setuptools-50.3.2.dist-info/
venv/lib/python3.9/site-packages/setuptools/__pycache__/
venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__/
venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__/
venv/lib/python3.9/site-packages/setuptools/_distutils/command/py37compat.py
venv/lib/python3.9/site-packages/setuptools/_distutils/py35compat.py
venv/lib/python3.9/site-packages/setuptools/_distutils/py38compat.py
venv/lib/python3.9/site-packages/setuptools/_vendor/__pycache__/
venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/_typing.py
venv/lib/python3.9/site-packages/setuptools/command/__pycache__/
venv/lib/python3.9/site-packages/setuptools/extern/__pycache__/
venv/lib/python3.9/site-packages/shellescape/__pycache__/
venv/lib/python3.9/site-packages/urllib3/__pycache__/
venv/lib/python3.9/site-packages/urllib3/contrib/__pycache__/
venv/lib/python3.9/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/lib/python3.9/site-packages/urllib3/packages/__pycache__/
venv/lib/python3.9/site-packages/urllib3/packages/backports/__pycache__/
venv/lib/python3.9/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/lib/python3.9/site-packages/urllib3/util/__pycache__/
venv/lib/python3.9/site-packages/wcwidth/__pycache__/
venv/lib/python3.9/site-packages/wcwidth/tests/__pycache__/
venv/lib/python3.9/site-packages/webencodings/__pycache__/
